.header {
    background: rgba(229, 84, 115, 0.10);
    max-width: 1920px;
    height: 850px;
    flex-shrink: 0;
    display: flex;
    padding-top: 20px;
}

.banner {
    margin: 150px 10px 0 10%;
}

.banner-title {
    display: flex;
    width: 708px;
    flex-direction: column;
    flex-shrink: 0;
    color: #272727;
    font-family: Lato;
    font-size: 80px;
}

.banner-description {
    display: flex;
    width: 634px;
    flex-direction: column;
    flex-shrink: 0;
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.btn-primary {
    border: 0;
    padding: 20px 43px;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
}

.main-header {
    margin: 100px 600px 20px 600px;
    width: 594px;
}

.main-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
}

.main-description {
    color: rgba(39, 39, 39, 0.60);

    text-align: center;
    font-family: Lato;
    font-size: 18px;
    margin-bottom: 30px;
}

.tree-type {
    display: flex;
    margin: 0 240px 50px 240px;
    height: 500px;
    justify-content: space-between;
    max-height: 500px;
}

.tree1 {
    width: 410px;
    height: 500px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    background-position: center bottom;
    background-repeat: no-repeat;

}

.tree2 {
    width: 410px;
    height: 500px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    background-position: center bottom;
    background-repeat: no-repeat;

}

.tree3 {
    width: 410px;
    height: 500px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    background-position: center bottom;
    background-repeat: no-repeat;

}

.tree-image {
    margin-top: 100px;
    align-items: center;
    width: 410px;
    height: 400px;

}

.tree-name {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    line-height: 35px;
    text-decoration-line: underline;
}

.hot-sale {
    display: flex;
    width: 1922px;
    height: 620px;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}

.hot-sale-text {
    padding: 230px 0px 162px 395px;
    width: 989px;
}

.hot-sale-title {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    margin-left: 30px;
}

.hot-sale-description {
    display: flex;
    width: 594px;
    flex-direction: column;
    Copy color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.hot-sale-btn {
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    margin-left: 212px;
    Copy border-radius: 8px;
    background: #E55473;
}

.hot-sale-image {
    width: 318px;
    height: 420px;
    flex-shrink: 0;
    margin: 100px 425px 100px 0px;
}



.instra-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
}

.instra-description {
    display: flex;

    flex-direction: column;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    margin-bottom: 45px;
}

.sample {
    margin: 0 110px 0 110px;
    display: flex;
    justify-content: space-between;
}

.sample-image {
    width: 342px;
    height: 396px;
    margin-inline: 15px;
}


.last-main {
    margin: 120px 240px;
    padding-top: 120px;
    width: 1440px;
    height: 449px;
    border-radius: 8px;
    background-image: url(../images/Rectangle\ 9.png);
    background-repeat: no-repeat;
}

#email {
    width: 700px;
    height: 60px;
}

.last-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
}

.last-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
}
.input-mail{
    margin-left: 287px;
}